# Use root/example as user/password credentials
# version: '3.1'

# services:

#   db:
#     image: mysql
#     # NOTE: use of "mysql_native_password" is not recommended: https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html#upgrade-caching-sha2-password
#     # (this is just an example, not intended to be a production configuration)
#     command: --default-authentication-plugin=mysql_native_password
#     restart: always
#     environment:
#       MYSQL_ROOT_PASSWORD: root

#   adminer:
#     image: adminer
#     restart: always
#     ports:
#       - 8080:8080

version: "3"
services:
  app:
    build: .
    ports:
      - "5005:5005"
    depends_on:
      - db
  db:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spamdb
